### GroupBy

In [1]:
import pandas as pd
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])

In [2]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [3]:
# groupby retuens a groupby object
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [4]:
gb = df.groupby('key')

### GroupBy Object

df.groupby('key')['sum']

In [ ]:
df.mean(axis="rows")

In [ ]:
df

In [ ]:
gb.count()

In [ ]:
gb.first()

In [ ]:
gb.mad()

In [ ]:
df

In [ ]:
df.mean()

In [ ]:
gb.mean()

In [ ]:
import numpy as np
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

In [ ]:
df

In [ ]:
df.groupby('key').aggregate(['min',max, np.median])

In [ ]:
df.groupby('key').aggregate({'data1':'min', 'data2':'max'})

In [ ]:
df.groupby('key').filter(lambda x: x['data2'].mean() < 4)

In [ ]:
def fun(x):
    return x['data2'].mean() < 4
    
df.groupby('key').filter(fun)

In [ ]:
df